
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/svg.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">LH청약알리미</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">검색창</h1>
                            <!-- Signup form-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="searchText"  placeholder="지역검색" type="text" />
                                    </div>
                                    <div class="col-auto">
                                        <input class="btn btn-primary btn-lg" id="submitButton" type="button" onClick="searchAPI()" value="검색">
                                    </div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>

                            <div class="row">
                                <div class="col-auto "><input class="btn btn-secondary" id="seoulCnt" type="submit" value="서울(0)" onClick="clickCityButton('서울')"></div>
                                <div class="col-auto "><input class="btn btn-secondary" id="gyungiCnt" type="submit" value="경기도(0)" onClick="clickCityButton('경기도')"></div>
                                <div class="col-auto"><input class="btn btn-secondary" id="daejeonCnt" type="submit" value="대전(0)" onClick="clickCityButton('대전')"></div>
                                <div class="col-auto"><input class="btn btn-secondary" id="daeguCnt" type="submit" value="대구(0)" onClick="clickCityButton('대구')"></div>
                                <div class="col-auto"><input class="btn btn-secondary" id="busanCnt" type="submit" value="부산(0)" onClick="clickCityButton('부산')"></div>
                                <div class="col-auto"><input class="btn btn-secondary" id="gwangjuCnt" type="submit" value="광주(0)" onClick="clickCityButton('광주')"></div>
                                <div class="col-auto"><input class="btn btn-secondary" id="jejuCnt" type="submit" value="제주도(0)" onClick="clickCityButton('제주도')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="table-responsive">
                <!-- 페이지 LIST-->
                <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">유형</th>
                        <th scope="col">지역</th>
                        <th scope="col">공고문</th>
                        <th scope="col">날짜</th>
                      </tr>
                </thead>
                <tbody id="noticeContent">
                    <tr>
                        <td scope="row">X</td>
                        <td scope="row">X</td>
                        <td class="underline" scope="row">공고없음</td>
                        <td scope="row">X</td>
                    </tr>
                </tbody>
              </table>
              </div>
          
            <div class="svg-container">
                <object id="koreasvg" class="koreasvg" type="image/svg+xml" data="img/southKoreaHigh.svg"></object>
            </div>
        </section>
<input type="hidden" id="apihost" value=<%=API_HOST%>>
<input type="hidden" id="apiport" value=<%=API_PORT%>>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
<!-- params: func, time-->    
const API_HOST = document.getElementById("apihost").value;
const API_PORT = document.getElementById("apiport").value;
const gwangju_url = `http://${API_HOST}:${API_PORT}/public/house/v1?cityName=${encodeURIComponent("광주")}&kindOfHouseName=${encodeURIComponent("임대주택")}`
const gyungido_url = `http://${API_HOST}:${API_PORT}/public/house/v1?cityName=${encodeURIComponent("경기도")}&kindOfHouseName=${encodeURIComponent("임대주택")}`
const seoul_url = `http://${API_HOST}:${API_PORT}/public/house/v1?cityName=${encodeURIComponent("서울")}&kindOfHouseName=${encodeURIComponent("임대주택")}`
const daejeon_url = `http://${API_HOST}:${API_PORT}/public/house/v1?cityName=${encodeURIComponent("대전")}&kindOfHouseName=${encodeURIComponent("임대주택")}`
const daegu_url = `http://${API_HOST}:${API_PORT}/public/house/v1?cityName=${encodeURIComponent("대구")}&kindOfHouseName=${encodeURIComponent("임대주택")}`
const busan_url = `http://${API_HOST}:${API_PORT}/public/house/v1?cityName=${encodeURIComponent("부산")}&kindOfHouseName=${encodeURIComponent("임대주택")}`
const jeju_url = `http://${API_HOST}:${API_PORT}/public/house/v1?cityName=${encodeURIComponent("제주도")}&kindOfHouseName=${encodeURIComponent("임대주택")}`

//svg 클릭 이벤트
function svgClickEventHandler(svgId,cityName){
    const svg = document.querySelector("#koreasvg");
    svg.addEventListener('load', function(){
        const svgDocument = svg.contentDocument;
        const krclick = svgDocument.getElementById(svgId);
        krclick.addEventListener("click", function(){
            clickCityButton(cityName);
        });
    });
}

//도시별 공고문 개수 보여주는 API
/**
 * 
    {
        "cityName": "2906",
        "content": "[{\"startDT\":\"2024.02.16\",\"majorCategiry\":\"영구임대\",\"city\":\"광주광역시\",\"noticeStartDT\":\"20240216\",\"noticeUrl\":\"https://apply.lh.or.kr/lhapply/apply/wt/wrtanc/selectWrtancInfo.do?panId\\u003d2015122300015343\\u0026ccrCnntSysDsCd\\u003d03\\u0026uppAisTpCd\\u003d06\\u0026aisTpCd\\u003d09\\u0026mi\\u003d1026\",\"title\":\"광주효천2 1단지(A-2BL) 영구임대주택 예비입주자 모집\",\"subCategiry\":\"임대주택\"}, {\"startDT\":\"2024.02.15\",\"majorCategiry\":\"영구임대\",\"city\":\"광주광역시\",\"noticeStartDT\":\"20240215\",\"noticeUrl\":\"https://apply.lh.or.kr/lhapply/apply/wt/wrtanc/selectWrtancInfo.do?panId\\u003d2015122300015338\\u0026ccrCnntSysDsCd\\u003d03\\u0026uppAisTpCd\\u003d06\\u0026aisTpCd\\u003d09\\u0026mi\\u003d1026\",\"title\":\"광주선운2 A-2블록 영구임대주택 입주자 추가 모집\",\"subCategiry\":\"임대주택\"}]",
        "cnt": 2,
        "city": "광주"
    }
 * 
*/
function showCntNoticeByCity(url, html_id){
    axios.get(url, 5000)
                    .then(response => {
                          
                          //API로 가져온 도시별 공고문 개수
                          let noticeCntByCity = response.data.cnt
                          let notice = response.data;
                          console.log(notice)
                          let cntId = document.querySelector(`#${html_id}`)
                          let str =  cntId.value
                          let cityName = str.substring(0,str.indexOf('('));
                          //localStorage.setItem(cityName, JSON.stringify(response.data));
                          localStorage.setItem(cityName, JSON.stringify(notice));

                          cntId.value =  `${cityName}(${noticeCntByCity})`
                      })
                      .catch(function(error){
                          if (error.response) {
                              // 요청이 전송되었고, 서버는 2xx 외의 상태 코드로 응답했습니다.
                              console.log(error.response.data);
                              console.log(error.response.status);
                              console.log(error.response.headers);
                          } else if (error.request) {
                              // 요청이 전송되었지만, 응답이 수신되지 않았습니다. 
                              // 'error.request'는 브라우저에서 XMLHtpRequest 인스턴스이고,
                              // node.js에서는 http.ClientRequest 인스턴스입니다.
                              console.log(error.request);
                          } else {
                              // 오류가 발생한 요청을 설정하는 동안 문제가 발생했습니다.
                              console.log('Error', error.message);
                          }
                      }); 
}

showCntNoticeByCity(gwangju_url,'gwangjuCnt');
svgClickEventHandler('gwangju','광주')

showCntNoticeByCity(seoul_url,'seoulCnt');
svgClickEventHandler('seoul','서울')

showCntNoticeByCity(gyungido_url,'gyungiCnt');
svgClickEventHandler('gyeonggi','경기도')

showCntNoticeByCity(daejeon_url,'daejeonCnt');
svgClickEventHandler('daejeon','대전')

showCntNoticeByCity(daegu_url,'daeguCnt');
svgClickEventHandler('daegu','대구')

showCntNoticeByCity(busan_url,'busanCnt');
svgClickEventHandler('busan','부산')

showCntNoticeByCity(jeju_url,'jejuCnt');
svgClickEventHandler('jeju','제주도')

                 
//검색 API
function searchAPI(){
    let searchText = document.querySelector('#searchText');
    
    if(!isEmpty(searchText)){
        const params = { search: `${searchText.value}`}
        axios.get("http://"+API_HOST+":"+API_PORT+"/public/house/search", {params})
             .then(response => {
                let notice = response.data;
                console.log(notice)

                createTableRow(notice);
             })
             .catch(function(error){
                            console.log();
                            alert(error.response.data.reason);
                            console.error("Api Server not working");   
                        });
    } else{
        console.log("빈값이야~");
    }
}

function clickCityButton(cityName){
    console.log(cityName);
    let notice = localStorage.getItem(cityName);
    let noticeCnt =  JSON.parse(notice).cnt;
 
    if(noticeCnt == 0){
        announceNoNotice();
    }else{
        createTableRow(JSON.parse(notice));
    }
}

function announceNoNotice(){
    clearTableRows();
    alert("공고중인 내용이 없습니다.");
}

//빈값이면 true, 아니면 false
function isEmpty(text){
  if(text && text.value.trim() != ''){
    return false;
  }
  return true;
}

//todo: 도시별 공고 개수 api 
function getNoticeCntByCity(){
    let seoulCnt = 1;
    let daejeonCnt = 2;
    let daeguCnt = 3;
    let busanCnt = 4;
    let gwangjuCnt = 5;
    let jejuCnt = 6;
    document.querySelector('#seoulCnt').innerHTML = `서울(${seoulCnt})`;
    document.querySelector('#daejeonCnt').innerHTML = `대전(${daejeonCnt})`;
    document.querySelector('#daeguCnt').innerHTML = `대구(${daeguCnt})`;
    document.querySelector('#busanCnt').innerHTML = `부산(${busanCnt})`;
    document.querySelector('#gwangjuCnt').innerHTML = `광주(${gwangjuCnt})`;
    document.querySelector('#jejuCnt').innerHTML = `제주도(${jejuCnt})`;
}

//테이블 정보 추가
function createTableRow(data){
    console.log(typeof data);
    let target = JSON.parse(data.content);
    //1. 테이블 row clear
    console.log(target);
    console.log(target.length);
    console.log(target[0].majorCategiry);
    clearTableRows();

    //2. 새로운 row 추가
    let tbody = document.querySelector("#noticeContent");
        
    for(let i = 0; i<target.length; i++){
        let tr = document.createElement("tr");
        //2-1.유형
        let link = document.createElement("a")
        link.href = target[i].noticeUrl;
        let td = document.createElement("td");
        td.textContent = target[i].majorCategiry;
        tr.appendChild(td);

        //2-2.지역
        td = document.createElement("td");
        td.textContent = target[i].city;
        tr.appendChild(td);

        //2-3.공고문
        td = document.createElement("td");
        td.className = "underline";
        td.textContent = target[i].title;
        tr.appendChild(td);

        //2-4.날짜
        td = document.createElement("td");
        td.textContent = target[i].postedDate + " ~ " +target[i].recruitEndDT;
        tr.appendChild(td);
        
        tr.addEventListener("click", function(){
            window.open(link, '_blank'); 
        });
        tbody.appendChild(tr);
    }
}

//이전 테이블 정보 삭제
function clearTableRows(){
    let tbody = document.querySelector("#noticeContent");
    
    while(tbody.firstChild){
        tbody.removeChild(tbody.firstChild);
    }
}

document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('koreasvg').addEventListener("load", function() {
        let svgDoc = this.contentDocument;

        //경기
        var gyeonggi = svgDoc.querySelector("#gyeonggi");
        var gyeonggiline = svgDoc.querySelector("#gyeonggiline");
        var gyeonggiLineBtn = svgDoc.querySelector("#gyeonggiLineBtn");

        gyeonggi.addEventListener("mouseover", function(event) {
            if (event.target.tagName === "path") {
                event.target.style.fill = "green"; // 호버 시 색상 변경
                    gyeonggiline.setAttribute("stroke", "black");
                    gyeonggiLineBtn.style.display='';
                    console.log("hi");
                    const name = document.getElementById('gyungiCnt').value;
                    svgDoc.getElementById("gyeonggiText").textContent= name;
            }
        });
        gyeonggi.addEventListener("mouseout", function(event) {
            if (event.target.tagName === "path") {
                event.target.style.fill = ""; // 원래 색상으로 복원
                    gyeonggiline.setAttribute("stroke", "");
                    gyeonggiLineBtn.style.display='none';
            }
        });

        //서울
        var seoul = svgDoc.querySelector("#seoul");
        var seoulline = svgDoc.querySelector("#seoulline");
        var seoulLineBtn = svgDoc.querySelector("#seoulLineBtn");

        seoul.addEventListener("mouseover", function(event) {
            if (event.target.tagName === "path") {
                event.target.style.fill = "green"; // 호버 시 색상 변경
                    seoulline.setAttribute("stroke", "black");
                    seoulLineBtn.style.display='';
            }
            
        });
        seoul.addEventListener("mouseout", function(event) {
            if (event.target.tagName === "path") {
                event.target.style.fill = ""; // 원래 색상으로 복원
                    seoulline.setAttribute("stroke", "");
                    seoulLineBtn.style.display='none';
            }
        });

        //대전
        var daejeon = svgDoc.querySelector("#daejeon");
        var daejeonline = svgDoc.querySelector("#daejeonline");
        var daejeonLineBtn = svgDoc.querySelector("#daejeonLineBtn");

        daejeon.addEventListener("mouseover", function(event) {
            if (event.target.tagName === "path") {
                event.target.style.fill = "green"; // 호버 시 색상 변경
                daejeonline.setAttribute("stroke", "black");
                daejeonLineBtn.style.display='';
            }
            
        });
        daejeon.addEventListener("mouseout", function(event) {
            if (event.target.tagName === "path") {
                event.target.style.fill = ""; // 원래 색상으로 복원
                daejeonline.setAttribute("stroke", "");
                daejeonLineBtn.style.display='none';
            }
        });
        //대구

        //부산

        //광주

        //제주도

    });
});
</script>

</html>
